<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employees</title>
</head>
<body>
<h1>Registered Employees</h1><br>
<ol>
    <li th:each="employee : ${employees}"> <p>id: <span th:text="${employee.getId()}"></span></p>
        <ul>
            <li><p>firstName: <span th:text="${employee.getFirstName()}"></span></p></li>
            <li><p>middleName: <span th:text="${employee.getMiddleName()}"></span></p></li>
            <li><p>lastName: <span th:text="${employee.getLastName()}"></span></p></li>
            <li><p>dateOfBirth: <span th:text="${employee.getDateOfBirth()}"></span></p></li>
        </ul>
    </li>
</ol>
</body>
</html>